
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  /* Common global colors */
  --pcolor: #673ab7;
  --pcolor-light: #8561c5;
  --pcolor-blur: #f4eeff53;
  --pcolor-focus: #e0ceff;

  --p-fr-color: #FFF;

  --surface-bg-color: #FFF;
  --surface-fg-color: #444;
  --surface-fg-blur: #888;
  --surface-fg-minor-blur: #DDD;

  --front-fg-minor-blur: #DDD;
  --rear-minor-blur: #DDD;

  --base-margin: 12px;

  --button-shadow-color: var(--surface-fg-minor-blur);
  --button-active-bg: var(--surface-fg-color);

  --input-bg: #DDD;
  --input-fg: #222;
  --input-outline-color: var(--pcolor);
  --input-fg-blur: var(--surface-fg-blur);

  --default-icon-size: 1.8em;

  /* Color utils */
  --red: #f44336;
  --pink: #e91e63;
  --purple: #9c27b0;
  --deeppurple: #673ab7;
  --indigo: #3f51b5;
  --blue: #2196f3;
  --lightblue: #03a9f4;
  --cyan: #00bcd4;
  --teal: #009688;
  --green: #4caf50;
  --lightgreen: #8bc34a;
  --lime: #cddc39;
  --yellow: #ffeb3b;
  --amber: #ffc107;
  --orange: #ff9800;
  --deeporange: #ff5722;

  /* Fonts utils */
  --pfont: "Comfortaa", Verdana, Helvetica, Arial;
  --sfont: "Roboto", Verdana, Helvetica, Arial;

  /* Device screen scale */
  --xsmall-screen: 310px;
  --small-screen: 768px;
  --medium-screen: 992px;
  --large-screen: 1200px;
}

.red-text {
  color: var(--red);
}


body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: var(--pfont);
  background-color: var(--surface-bg-color);
  color: var(--surface-fg-color);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 8px;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2.3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.15em;
}
a {
  color: inherit;
  text-decoration: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  margin: 4px;
  min-width: 6.5em;
  height: 2.2em;
  font-family: var(--pfont);
  font-size: 1.15em;
  background-color: var(--pcolor);
  color: var(--p-fr-color);
  border: none;
  border-radius: 12px;
  line-height: 0.8em;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s linear;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}
button:active {
  background-color: var(--button-active-bg);
}

.image-container {
  transition: transform 0.15s ease;
}
.image-container:active {
  transform: scale(0.92);
}
.image-container img {
  transition: filter 0.1s linear;
}
.image-container:active img {
    filter: brightness(0.75);
}

.data-empty-error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--surface-fg-blur);
}
.data-empty-error .icon {
  padding: 8px;
}
.data-empty-error .icon svg {
  width: 4em;
  height: 4em;
  stroke-width: 1.4px;
}

.loader-cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media screen and (min-width: 310px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {} */